.rslpgn-bg-primary{
    background-color: #2c3e50;
}

.rslpgn-bg-success{
    background-color: #1abc9c;
}

.bar{
    height: 4px;
    background-color: white;
    width: 30%;
}

.black{
    background-color: #2c3e50;
}

.rslpgn-primary{
    color: #2c3e50;
}

::placeholder {
    color: black;
    opacity: 1;
    font-weight: 500;
  }
